include "drbd.d/global_common.conf";
include "drbd.d/*.res";

resource {{ group_names[0] }} {
  protocol C;

  handlers {
    pri-lost-after-sb "/usr/lib/drbd/notify-pri-lost-after-sb.sh; /usr/lib/drbd/notify-emergency-reboot.sh; echo b > /proc/sysrq-trigger ; reboot -f";
  }

  startup {
    degr-wfc-timeout 120;
  }

  disk {
    on-io-error detach;
  }

  syncer {
    rate 10M;
    al-extents 257;
  }

  net {
    after-sb-0pri discard-least-changes;
    after-sb-1pri discard-secondary;
    after-sb-2pri call-pri-lost-after-sb;
  }
{% for host in groups[group_names[0]] %}

  on {{ hostvars[host]['ansible_hostname'] }} {
    device        /dev/drbd0;
    disk          /dev/data/{{ group_names[0] }};
    address       {{ hostvars[host]['ansible_default_ipv4']['address'] }}:7788;
    meta-disk     {{ block_device }}1[0];
  }
{% endfor %}
}
